.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.button {
  margin: 20px;
  padding: 15px 40px;
  background: #016ABC;
	color: #fff;
	border: 1px solid #eee;
	border-radius: 20px;
	box-shadow: 5px 5px 5px #eee;
	text-shadow: none;
  cursor: pointer;
}
.button:hover {
  padding: 15px 40px;
  background: #4ba2e9;
	color: #fff;
	border: 1px solid #eee;
	border-radius: 20px;
	box-shadow: 5px 5px 5px #eee;
	text-shadow: none;
  cursor: pointer;
}

.loading {
  margin-bottom: 20px;
  font-size: 20px;
}

.chart {
  width: 1000px;
  height: 400px;
}
